#testGraph {
	width: 600px;
	height: 400px;
}

svg {
	-webkit-user-select: none;
	user-select: none; 
}

.selection {
	stroke: blue;
	stroke-width: 1px;
	stroke-opacity: 0.2;
	fill: rgba(172, 201, 255, 0.2);
	shape-rendering: crispEdges;
}

.axis text {
	font: 10px sans-serif;
}

.axis path, .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}